
    <md-content layout-fill layout="row" layout-align="center center">
        <!--<md-content layout-padding|fill|wrap|nowrap|margin layout="row | column" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
      content
    </md-content>-->
        <md-card layout="column" layout-padding flex-gt-md="25">
            <!--<img src="card-image.png" class="md-card-image" alt="image caption">-->
            <md-icon md-svg-icon="action:ic_account_circle_24px" style="width:60px;height:60px;" aria-label="account circle"></md-icon>
            <form ng-submit="vm.onSubmit()">
                <md-card-content flex-xs>
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon md-svg-icon="communication:ic_email_24px" aria-label="email"></md-icon>
                        <input ng-model="vm.user.email" type="email" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon md-svg-icon="communication:ic_vpn_key_24px" aria-label="vpm key"></md-icon>
                        <input ng-model="vm.user.password" type="password" ng-required="true">
                    </md-input-container>
                    <div flex-xs>
                        <md-checkbox ng-model="vm.user.remember_me" aria-label="Remember Me"> Remember Me
                        </md-checkbox>
                    </div>
                </md-card-content>
                <md-card-actions layout="column">
                    <md-button class="md-raised md-primary" type="submit">Sign In</md-button>
                </md-card-actions>
                <md-card-footer layout="row">
                    <p class="md-body-2" flex>Don't have an account?</p>
                    <md-button ng-click="vm.register()" class="md-primary">Register</md-button>
                </md-card-footer>
            </form>
        </md-card>
    </md-content>